body{
    padding: 0px;
    background-color: whitesmoke;
    

}
body a{
    text-decoration: none;
}
.navbar {
  
    display: flex;
    flex-direction: row;

}
nav .btn{
   
    background-color: orange;
}
.btn:hover {
  background-color:rgb(141, 96, 29) !important;
}
.navbar img {
    width: 200px;
    height: 100px;


    
}
.input .contact {
    background-color:white;
    width:fit-content;
    margin-left: 90px;
    height: 380px;
   padding: 40px;
    border-radius: 5px;

}
.input{
    display: flex;
    flex-direction: row;    
}
.input input {
    width: 300px;
}
.nft{
    width: 200px;
}

/* css ini added
form{
    background-color: red;
    border-radius: 10px;
}

